### Symfony template
# Cache, session files and logs (Symfony3)
/symfony-demo-app/8.1/symfony/var/cache/*
/symfony-demo-app/8.1/symfony/var/logs/*
/symfony-demo-app/8.1/symfony/var/sessions/*
!symfony-demo-app/8.1/symfony/var/cache/.gitkeep
!symfony-demo-app/8.1/symfony/var/logs/.gitkeep
!symfony-demo-app/8.1/symfony/var/sessions/.gitkeep

# Logs (Symfony4)
/symfony-demo-app/8.1/symfony/var/log/*
!symfony-demo-app/8.1/symfony/var/log/.gitkeep

# Managed by Composer

/symfony-demo-app/8.1/symfony/var/bootstrap.php.cache
/symfony-demo-app/8.1/symfony/bin/*
!/symfony-demo-app/8.1/symfony/bin/console
!/symfony-demo-app/8.1/symfony/bin/symfony_requirements
/symfony-demo-app/8.1/symfony/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/symfony-demo-app/8.1/symfony/public/build/

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid

